.parking-lot-form {
    
    margin: 2rem;
    border: 2px outset whitesmoke;
    background-color: #000000;
    padding: 3rem;
    text-align: center;
}   

.form-container {
    display: flex;
    justify-content: center;
}

.form-control {
    margin-bottom: 10px;
}

.parking-lot-radio {
    display: flex;
    text-align: center;
    justify-content: center;
}

