.App {
  min-width: 270px;
  text-align: center;
  letter-spacing: 4px;
  word-spacing: 4px;
}
 
.header {
  margin: 30px;
}

.sub-heading {
  font-family: 'Courier New', Courier, monospace;
  color: rgb(233, 230, 195);
  font-size: 18px;
}

.contact-form-container {
  display: inline-block;
}

footer {
  text-align: center;
  margin: 50px 20px 20px;
}
